<!DOCTYPE html>
<html xmlns:th="htt://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Formulario de alumno</title>
	</head>
	<body>
		<h1>Formulario de entrada de datos</h1>
		<!--el th es porque es un objeto dinámico de Thymeleaf-->
		<form th:action="@{/altaAlumno}" th:object="${objetoAlumno}" method="POST">
			<!--con th:field se indica y recoge en campo al que hace referencia-->
			<p>Nombre: <input type="text" th:field="*{nombre}"/></p>
			<p>Apellidos: <input type="text" th:field="*{apellidos}"/></p>
			<p>Edad: <input type="text" th:field="*{edad}"/></p>
			<p><input type="submit" value="Enviar"/></p>
		</form>
	</body>
</html>