<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<title>Mantenimiento de direcciones</title>
</head>

<body>
	<div>
		<br>
		<h2 th:if="${listaClientesDireccionesDTO.isEmpty()}">No hay direcciones para el cliente
			<td th:utext="${clienteDTO.nombre}"></td><td th:utext="${clienteDTO.apellidos}"></td>
		</h2>
		<div th:if="${!listaClientesDireccionesDTO.isEmpty()}">
			<h2>
				Mantenimiento de Direcciones del Cliente: 
				<strong th:text="${clienteDTO.nombre}">Nombre</strong>
				<strong th:text="${clienteDTO.apellidos}">Nombre</strong>
			</h2>
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Direccion</th>
						<th>País</th>
						<th>CP</th>
						<th>Fecha Alta</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item:${listaClientesDireccionesDTO}">
						<td th:text="${item.direccionDTO.id}" />
						<td th:text="${item.direccionDTO.descripcion}" />
						<td th:text="${item.direccionDTO.pais}" />
						<td th:text="${item.direccionDTO.cp}" />
						<!-- formateamos la fecha para verla en formato correcto y quitamos los segundos y milisegundos -->
						<td th:text="${#dates.format(item.fechaAlta, 'dd-MM-yyyy HH:mm')}">...</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<br>
	<div>
		<a th:href="@{/clientes/{idCliente}/direcciones/add(idCliente=${clienteDTO.id})}" class="add">Nueva Dirección</a> 
		<br> 
		<a th:href="@{/clientes}" class="back">Volver a la lista de clientes</a>
	</div>
</body>

</html>